// 变量文件颜色字体

// 字体大小
$fontSize12: 12px;
$fontSize14: 14px;
$fontSize16: 16px;

// 字体颜色和背景
$fontDefault: #306ab9;
$mainBackgroundColor: #f9f9f9;
$bodyBackgroundColor: #e9ecf3;
body{
  background: $bodyBackgroundColor;
}

// 侧边栏宽度
$sideBarWidth: 180px;

//sidebar
$menuText:#bfcbd9;
$menuActiveText:#409EFF;
$subMenuActiveText:#f4f4f5; //https://github.com/ElemeFE/element/issues/12951

$menuBg:#304156;
$menuHover:#263445;

$subMenuBg:#1f2d3d;
$subMenuHover:#001528;

$sideBarWidth: 180px;

// the :export directive is the magic sauce for webpack
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
